body{
    background-color: #eff5cb;
    font-family: Georgia, serif;
}


.title{
    text-align: center; 
    font-weight: 500;
    margin: 3rem auto;
    box-sizing: border-box;
    color:black;
    font-size: 80px;
    letter-spacing: 1px;
}

.container{
    display: inline-block;
    width: 500px;
    margin-top: 5rem;
}

.right{
    margin-right: 8rem;
    margin-left: 10rem;
}

.left{
    margin-left: 12rem;
    margin-right: 10rem;
}

img{
    width: 450px;
    height: 450px;
    border-radius: 50%;    
    object-fit: cover;     
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    margin-left: 20px;
}

.recipe-link{
    text-decoration: none;
    font-size: 48px;    
    color:black;  
    display: inline-block;
    margin-top: 1rem;
    width: 500px;
    padding-bottom: 2px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s ease-in;
}

.recipe-link:hover{
    background-color: black;
    color: #eff5cb;
}




.footer-text{
    text-align: center;
    margin-bottom: 0;
    font-size: 30px;
    margin-top: 13rem;
}

.top-link{
    display: inline;   
    color:black;  
}
